numpy==1.26.4
kurbopy==0.10.40

#----- update for the path expansion issue
git+https://github.com/MattMatic/collidoscope

fez-language==1.3.4
fontFeatures==1.7.4
fontbakery==0.8.13

#---- other libraries that need to be specified
fontmake==3.5.1
ufo2ft==2.30.0
#fonttools==4.38.1.dev0
#fonttools @ git+https://github.com/simoncozens/fonttools@69fd91286486b9bbf15b89ec83acb3989148f297
fonttools @ git+https://github.com/simoncozens/fonttools@variable-arithmetic
afdko==3.9.5
glyphsLib==6.7.1
gftools==0.9.60

#---- Original requirements
uharfbuzz>=0.31.0
youseedee
tqdm
font-v

#----- Karakul
karakul @ git+https://github.com/simoncozens/karakul@b300007057e4b5788304dea6e6a70bfd9e7f663e

#----- may need to be forced
#fontMath==0.9.3
#fontParts==0.12.1
